:root {
    --background-color: #0e0d12;
    --sidebar-background: #16141c;
    --sidebar-text-color: #ffffff;
    --sidebar-active-background: #24212b;
    --header-background: #ffffff;
    --header-border-color: #e0e0e0;
    --email-item-border-color: #343140;
    --unread-email-background: #1e1c26;
    --email-item-hover-background: var(--sidebar-active-background);
    --text-color: #212121;
    --primary-color: #6d4aff;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 240px;
    background: var(--sidebar-background);
    color: var(--sidebar-text-color);
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--email-item-border-color);
}

.sidebar-header {
    padding: 20px;
    text-align: center;
}

.logo {
    width: 120px;
    height: 30px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    margin: 0 auto;
}

.new-message {
    padding: 0 20px;
    margin-bottom: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
}

.sidebar-menu li a {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--sidebar-text-color);
}

.sidebar-menu li.active a, .sidebar-menu li a:hover {
    background-color: var(--sidebar-active-background);
}

.sidebar-menu li a i {
    margin-right: 15px;
}

.sidebar-footer {
    padding: 20px;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    color: var(--sidebar-text-color);
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 10px; /* Reduced left padding */
    background: var(--background-color);
    border-bottom: 1px solid var(--email-item-border-color);
}

.back-button {
    border: none;
    background: none;
    cursor: pointer;
    margin-right: 10px;
    width: 36px;
    height: 36px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button i {
    color: #a7a4b5;
    font-size: 20px;
}

.back-button:hover {
    background-color: #1e1c26;
}

.search-bar {
    display: flex;
    align-items: center;
    background: #24212b;
    border-radius: 8px;
    padding: 5px 10px;
    flex-grow: 1; /* Allow the search bar to grow */
    max-width: 350px; /* Set the desired max-width */
}

.search-bar i {
    color: #9e9e9e;
}

.search-bar input {
    border: none;
    background: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    color: #a7a4b5; /* Default text color */
}

.search-bar input:focus {
    color: #ffffff; /* White text color on focus */
}

.user-menu {
    margin-left: auto;
}

.user-menu a {
    color: #616161;
}

.email-list {
    overflow-y: auto;
    flex-grow: 1;
}

.email-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid var(--email-item-border-color);
    font-weight: bold;
}

.email-count {
    font-size: 0.8em;
    color: #616161;
}

.email-item {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid var(--email-item-border-color);
    cursor: pointer;
}

.email-item.unread {
    background-color: var(--unread-email-background);
}

.email-item:hover {
}

.email-sender-initial {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #3f3b4c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    margin-right: 15px;
}

.email-sender {
    font-weight: bold;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-subject {
    flex: 3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.email-preview {
    flex: 1;
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.email-actions {
    flex-shrink: 0;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.email-actions i {
    margin-left: 10px;
    cursor: pointer;
    visibility: hidden;
    font-size: 20px;
    color: #a7a4b5;
}

.email-item:hover .email-actions i {
    visibility: visible;
}

.email-content {
    padding: 20px;
    overflow-y: auto;
    flex-grow: 1;
}

.settings-view {
    padding: 20px;
}

body.dark-mode {
    --background-color: #121212;
    --sidebar-background: #1f1f1f;
    --sidebar-text-color: #ffffff;
    --sidebar-active-background: #3a3a3a;
    --header-background: #1f1f1f;
    --header-border-color: #3a3a3a;
    --email-item-border-color: #3a3a3a;
    --text-color: #ffffff;
}
